.fa-facebook,
.fa-pinterest {
  padding: 10px 25px 15px 20px;
  margin-right: 0.1rem;
  color: #fff;
}

.footer-right {
  width: 90%;
  height: 1rem;
  margin-top: -0.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-right a {
  display: flex;
  justify-content: center;
}
.footer-right img {
  width: 50%;
}

.footer-right .fa {
  font-size: 15px;
  width: 5px;
  height: 0.1rem;
  text-align: center;
  text-decoration: none;
  border-bottom: 0.04rem solid #f2fff7;
  /* border-radius: 0.1rem; */
}

.footer-right .fa:hover {
  /* opacity: 0.9; */
  border: 1rem solid #f2fff7;
}

.fa-facebook {
  background: #3b5998;
}

.fa-pinterest {
  background: #e60023;
}

.fa-whatsapp {
  padding: 10px 60px 15px 10px;
  background: rgb(13, 160, 0);
  color: #fff;
  margin-right: 0.1rem;
}

.fa-twitter,
.fa-youtube {
  padding: 10px 25px 15px 20px;
  margin-right: 0.1rem;
  color: #fff;
}

.fa-youtube {
  background: red;
}

.fa-twitter {
  background: #4ea0df;
}

.footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer p.footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: center;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

.VungoPro marquee {
  position: relative;
  font-family: Sofia, sans-serif;
  font-variant: small-caps;
  line-height: 0.35rem;
  font-size: 0.3rem;
  border: 1px dashed;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem 0 0;
  /* background-color: #003a92; */
  background: url('../Z_img/Group63.png') no-repeat bottom center;
  background-size: 100% 100%;
  border-top: 1px solid #54350c;
  color: #fff;
  font-size: 0.3733rem;
}

.footer .devider {
  width: 100%;
  border-bottom: 1px solid #606280;
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0.2rem;
  margin-bottom: 0.05rem;
}

.footer .links a {
  display: flex;
  align-items: center;
  height: 0.32rem;
  margin-bottom: 0.1rem;
  padding: 0 0.3rem;
  font-size: 0.2rem;
  /* font-weight: 600; */
  text-decoration: none;
  color: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 0.08rem;
  margin-right: 0.2rem;
}

.links a:hover {
  font-weight: 600;
  color: #c1c1c1;
}

.footer .links a.border {
  border-right: auto;
}

.footer p {
  margin: 0;
  font-size: 0.2rem;
  opacity: 80%;
}

.footer button {
  width: 4rem;
  height: 0.8rem;
  /* font-weight: 600; */
  background-color: #003a92;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.05rem;
  font-size: 0.2rem;
  cursor: pointer;
}

.footer button:hover {
  background-color: #0026a2;
  font-size: 0.33rem;
}
